*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;

.header{
    background:#f1f3f2;
    padding:12px 30px;
}

.navbar{
    display:flex;
    align-items:center;
    gap:20px;
}
.logo img{
    width:160px;
    margin-left: 8vw;
    height: 4vh;
    width: 10vw;
}   

.search-box{
    flex:1;
    position:relative;
    margin-left: 10rem;
    margin-right: 10rem;
}

.search-box input{
    width:100%;
    height:48px;
    border-radius:12px;
    border:1px solid #dcdcdc;
    padding:0 45px 0 18px;
    font-size:15px;
    background:#fff;
}

.search-box i{
    position:absolute;
    right:15px;
    top:50%;
    transform:translateY(-50%);
    color:#777;
}

.location{
    height:48px;
    padding:0 18px;
    border-radius:12px;
    border:1px solid #dcdcdc;
    background:#fff;
    cursor:pointer;
    display:flex;
    align-items:center;
    gap:8px;
   
}

.icons{
    display:flex;
    align-items:center;
    gap:22px;
    margin-left:auto;
}

.icon{
    position:relative;
    font-size:20px;
    color:#555;
    cursor:pointer;
}
.menu-bar{
    display:flex;
    align-items:center;
    gap:30px;
    padding:14px 30px;
    background:#fff;
    border-top:1px solid #eee;
    margin-top: 1rem;

}

.departments{
    background:#0aad0a;
    color:#fff;
    border:none;
    padding:12px 22px;
    border-radius:10px;
    font-size:15px;
    font-weight:600;
    cursor:pointer;
}

.menu-links{
    display:flex;
    list-style:none;
    gap:28px;
    font-size:20px;
}

.menu-links li{
    cursor:pointer;
    transition:.2s;
}

.menu-links li:hover{
    color:#0aad0a;
}
.hero{
    margin:20px 60px;
    height:420px;
    border-radius:14px;
    background:#f3f3ef url("assets/banner.avif") no-repeat center ;
    background-size:cover;
    display:flex;
    align-items:center;
    padding-left:60px;
    margin: 100px;
    height: 85vh;
}

.hero-content{
    max-width:520px;
}

.badge{
    background:#f6c23e;
    padding:6px 12px;
    border-radius:6px;
    font-size:13px;
    font-weight:600;
}

.hero h1{
    margin-top:18px;
    font-size:48px;
    color:#0b2a2f;
    line-height:1.2;
}

.hero h1 span{
    color:#0aad0a;
}

.hero p{
    margin:18px 0 26px;
    color:#667;
    font-size:17px;
    line-height:1.5;
}

.shop-btn{
    background:#0b2a2f;
    color:#fff;
    padding:14px 22px;
    border:none;
    border-radius:10px;
    font-size:15px;
    cursor:pointer;
}

.shop-btn i{
    margin-left:6px;
}
.categories{
    padding:40px 60px;
}

.categories h2{
    margin-bottom:25px;
    font-size:26px;
    color:#0b2a2f;
}

.category-grid{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    gap:22px;
}

.card{
    background:#fff;
    border:1px solid #e8e8e8;
    border-radius:12px;
    padding:26px 10px;
    text-align:center;
    cursor:pointer;
    transition:.25s;
}

card img{
    height:90px;
    object-fit:contain;
}

.cat-card p{
    margin-top:14px;
    font-size:15px;
    color:#444;
}

.card:hover{
    border:1px solid #0aad0a;
    box-shadow:0 6px 18px rgba(0,0,0,0.08);
}
.discount{
    display:flex;
    gap:30px;
    padding:40px 60px;
}

.box{
    flex:1;
    height:260px;
    border-radius:14px;
    background:url("assets/card7.jpeg") no-repeat center;
    background-size:cover;
   
    display:flex;
    align-items:center;
}

.box2{
    background:url("assets/card8.jpeg") no-repeat center;
    background-size:cover;
   
}

.content{
    padding-left:40px;
}

.box h2{
    font-size:26px;
    color:#0b2a2f;
}

.box p{
    margin:10px 0 18px;
    color:#555;
    font-size:16px;
}

.box button{
    background:#0b2a2f;
    color:#fff;
    border:none;
    padding:10px 18px;
    border-radius:8px;
    cursor:pointer;
}

.popular{
    padding:40px 60px;
}
.popular-grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 1rem;
    text-align: center;

   
}
.item{
     border: 1px solid gray;
     border-radius: 1rem;
     height: 48vh; 
}
.item p{
    padding-right: 7vw;
    font-size: smaller;
}
.item h6{
     padding-right: 4vw;
     font-size:medium;
} 
.item{
    background:white;
    padding:15px;
    border-radius:12px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
    transition:.3s;
    text-align:left;
    position: relative;
}
.item:hover{
    transform:translateY(-6px);
    border: #3fdf3f;
   
}
.item{
    position:relative;
}

.item button{
    position:absolute;
    bottom:12px;
    right:12px;
    width:auto;
    padding:6px 14px;
    border:none;
    background:#3fdf3f;
    color:#fff;
    border-radius:8px;
    cursor:pointer;
    font-weight:600;
}
.price strike{
    color: #444444;
    
}
.price{
    padding-top: 3vh;
}
.Badge{
    position:absolute;
    top:10px;
    left:10px;
    background:#ff3b3b;
    color:#fff;
    padding:3px 8px;
    font-size:11px;
    border-radius:6px;
    font-weight:700;
}
.Badge-green{
    position:absolute;
    top:10px;
    left:10px;
    background:#085b17;
    color:#fff;
    padding:3px 8px;
    font-size:11px;
    border-radius:6px;
    font-weight:700;
}

.daily-deals{
    padding:40px 60px;
}

.deal-grid{
    display:grid;
    grid-template-columns:1.2fr 1fr 1fr 1fr;
    gap:25px;
    margin-top:25px;
    align-items:stretch;
}

.coffee-banner{
    position:relative;
    border-radius:20px;
    overflow:hidden;
    background:url('assets/coffee.avif') center/cover no-repeat;
    min-height:420px;
    padding:35px;
    transition:.5s;
}

.coffee-banner::before{
    content:"";
    position:absolute;
    inset:0;
    background:linear-gradient(180deg, rgba(0,0,0,.65), rgba(0,0,0,.2));
}

.coffee-banner .banner-content{
    position:relative;
    z-index:1;
    max-width:260px;
    backdrop-filter:blur(6px);
    background:rgba(255,255,255,0.06);
    padding:20px;
    border-radius:16px;
}

.banner-content h1{
    color:#fff;
    font-size:28px;
    margin-bottom:8px;
    line-height:1.2;
}

.banner-content p{
    color:#e5e5e5;
    font-size:14px;
    margin-bottom:18px;
}

.banner-content button{
    padding:10px 22px;
    border:none;
    border-radius:12px;
    background:linear-gradient(135deg,#16a34a,#22c55e);
    color:#fff;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.coffee-banner:hover{
    transform:scale(1.02);
}

.banner-content button:hover{
    transform:translateY(-2px);
    box-shadow:0 8px 20px rgba(0,0,0,.25);
}
.deal-card{
    background:#fff;
    border-radius:16px;
    padding:20px;
    box-shadow:0 6px 18px rgba(0,0,0,.08);
    display:flex;
    flex-direction:column;
}

.deal-card img{
    width:100%;
    height:160px;
    object-fit:contain;
    margin-bottom:10px;
}

.deal-card span{
    font-size:13px;
    color:#777;
}

.deal-price{
    margin:6px 0 12px;
    font-weight:600;
    
}
.deal-price strike{
    color: gray;
}
.deal-card button{
    margin-top:auto;
    padding:10px;
    border:none;
    background:#12b312;
    color:#fff;
    border-radius:10px;
    cursor:pointer;
}
.detail{
    padding:40px 60px;
}
.detail p{
    text-align: justify;
}
.detail{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
     
}
.iconn{
    color: #0aad0a;
    font-size:xx-large;
    height: 3rem    ;
}
.boxes h2{
    color: #21313C;
    height: 3rem;
}

.site-footer{
  background:#f5f6f7;
  padding:60px 7%;
  font-family:system-ui;
}

.links-area{
  display:grid;
  grid-template-columns:repeat(5,1fr);
  gap:40px;
  padding-bottom:40px;
  border-bottom:1px solid #ddd;
}

.block h3{
  font-size:16px;
  margin-bottom:14px;
}

.block ul{
  list-style:none;
  padding:0;
}

.block li{
  color:#666;
  font-size:14px;
  margin:9px 0;
  cursor:pointer;
  transition:.25s;
}

.block li:hover{
  color:#0aad0a;
  transform:translateX(4px);
}

.extra{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:25px 0;
  border-bottom:1px solid #ddd;
}

.pay i{
  font-size:26px;
  margin-left:10px;
  color:#555;
}

.download button{
  border:none;
  padding:10px 18px;
  border-radius:8px;
  margin-left:10px;
  background:#000;
  color:#fff;
  cursor:pointer;
}

.download .green{
  background:#0aad0a;
}

.bottom{
  display:flex;
  justify-content:space-between;
  padding-top:20px;
}

.social i{
  background:#fff;
  padding:10px;
  border-radius:50%;
  margin-left:10px;
   

}


